.breadcrumb span:first-child a span#slash {
  display: none;
}
.breadcrumb {
  background: url("http://lezada.reactdemo.hasthemes.com/assets/images/backgrounds/breadcrumb-bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bread-lins a {
  color: #222;
  padding: 0px 4px;
  font-style: italic;
}

h3.bread-title {
  font-size: 30px;
  font-weight: 700;
}
