.header {
  display: flex;
  width: 96vw;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}
.header_container {
  box-shadow: 0 0 3px #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
}
