.full-menu > svg {
  cursor: pointer;
}
.overlay__menu_showed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 1;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.overlay__menu_hidden {
  width: 0;
  left: 50%;
  top: 50%;
  height: 0;
  opacity: 0;
}

.menu-close {
  position: absolute;
  right: 0;
  top: 50px;
  cursor: pointer;
  color: #000;
}

.menu__list {
  width: 300px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu__item a {
  text-decoration: none;
  font-size: 30px;
  color: #222;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

.menu__item a:before {
  content: "";
  width: 0;
  height: 2px;
  background: #676567;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.menu__item a:hover:before {
  width: 100%;
}

.menu-close {
  color: #222;
  right: 3%;
  top: 6%;
  background: #000;
  color: #fff;
  padding: 10px 14px;
}
.sub_menu__item {
  left: -9999px;
  display: table;
  margin: 0 auto;
  position: absolute;
  transition: left 0.5s ease-in-out;
}
.sub_menu__item.show {
  position: inherit;
}

.sub_menu__item a {
  font-size: 25px;
  display: block;
  padding: 8px 0;
}
