.gallery {
  width: 90vw;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(20vh, 28vh);
  grid-auto-flow: dense;
  grid-gap: 25px;
}
.grid-item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.grid-item:nth-of-type(1),
.grid-item:nth-of-type(5),
.grid-item:nth-of-type(9),
.grid-item:nth-of-type(11) {
  grid-row: span 2;
}
/* .grid-item:nth-of-type(2) {
    grid-row: 2span 1;
  } */
.grid-item:nth-of-type(3),
.grid-item:nth-of-type(7) {
  grid-row: span 3;
}
.grid-item:nth-of-type(4),
.grid-item:nth-of-type(10) {
  /* grid-column: 2 / span 1; */
  grid-row: span 3;
}
/* .grid-item:nth-of-type(6) {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
  } */
.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background > img {
  background-size: cover;
}

.background {
  height: 100%;
  transition: 0.4s;
  transform: scale(1);
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.grid-item:hover .background {
  transform: scale(1.3);
}
