.carousel-container-home {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
.footer .menu__item a {
  font-size: 20px;
}
.single-item-home {
  height: 80vh;
  width: 100%;
  position: relative;
}

.single-item-home img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-container-home .carousel-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.carousel-container-home .slider-content {
  position: absolute;
  bottom: 5%;
  left: 35%;
  z-index: 6;
  transform: translate(-50%, -50%);
  color: #fff;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: 160px;
  padding: 25px;
}
button.slick-arrow.slick-next {
  position: absolute;
  right: 3%;
  top: 50%;
}

button.slick-arrow.slick-prev {
  position: absolute;
  z-index: 5;
  left: 3%;
  top: 50%;
}
a.shop-now {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
}
a.shop-now:hover {
  background: rgba(0, 0, 0, 1);
  color: #fff;
}
.slider-content h1 {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.carousel-container-home button.slick-arrow:before {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  height: 45px;
  width: 45px;
}
