.footer .menu__list {
  flex-direction: row;
  width: 35vw;
  height: inherit;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: nowrap;
  margin-bottom: 35px;
}
.footer .menu__item {
  margin: 0 15px;
}

.footer {
  background: #000;
  margin-top: -6px;
  padding: 64px 0;
}

.footer .menu__item a {
  font-size: 15px;
  color: #fff;
}
.footer .logo h1 {
  color: white;
  text-align: center;
}
.footer .logo span {
  background-color: white;
  color: black;
}

.footer .all {
  color: white;

  text-align: center;
}
